PROJECT_NAME="FastApi"
VERSION="1.0.0"

# API
HOST=127.0.0.1
PORT=8080

# Logging
LOG_LEVEL="info"
ACCESS_LOG=False

#AUTH
SECRET_KEY=c9c1b9a98ba0124fc473c1e151c8fe13ba8f2dc21dfa5c1bd50dedefa1a71e5c
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=43_200

#DATABASE
DATABASE_DB=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

#third party api
ROAD_NETWORK_API=http://router.project-osrm.org/route/v1/driving/

#neyro api
NEYRO_API=https://ml-test.pakosti.online/api/v1/optimize-route

#neyro-demo api
NEYRO_DEMO=https://ml-test.pakosti.online/api/v1/compare-demo

#geocoder api
GEOCODER_API=https://cleaner.dadata.ru/api/v1/clean/address